<!-- templates/all.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kollektsiooni nimekiri</title>
    <!-- Add any additional styling or libraries here -->
        {% include 'style.html' %}
</head>

<body>
    <div class="container mt-4">
        <h1>Kollektsiooni {{ name }} nimekiri</h1>
        {% include 'table.html' %}    
    </div>
        {% include 'footer.html' %}
</body>

</html>