<!DOCTYPE html>
<html>

<head>
    <title>Sinu kollektsioonid</title>
    <!-- Add this line to include Bootstrap from a CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="container mt-3">
        <h1>Sinu kollektsioonid</h1>
        <ul>
            {% for collection in user.collections %}
                <li><a href="{{ url_for('all', collection_id=collection.id) }}">{{ collection.name }}</a></li>
            {% endfor %}
        </ul>        
        <h1>Lisa uus kollektsioon</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.name.label }} {{ form.name() }}<br>
            {{ form.submit() }}
        </form>
    </div>
</body>

</html>