<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Add any additional styling or libraries here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Koduleht</h1>
    <ul>
        <li><a href="{{ url_for('all') }}">Kollektsiooni nimekiri</a></li>
        <li><a href="{{ url_for('upload') }}">Lisa uus müts</a></li>
    </ul>
</body>
</html>
