<!DOCTYPE html>
<html>

<head>
    <title>Registreeri kasutajaks</title>
    <!-- Add this line to include Bootstrap from a CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="container mt-3">
        <h1>Registreeri kasutajaks</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.name.label }} {{ form.name() }}<br>
            {{ form.username.label }} {{ form.username() }}<br>
            {{ form.email.label }} {{ form.email() }}<br>
            {{ form.password.label }} {{ form.password() }}<br>
            {{ form.confirmpassword.label }} {{ form.confirmpassword() }}<br>
            {{ form.submit() }}
        </form>
    </div>
</body>

</html>