<!DOCTYPE html>
<html>

<head>
    <title>Otsi</title>
    <!-- Add this line to include Bootstrap from a CDN -->
    {% include 'style.html' %}

</head>

<body>
    <div class="container mt-4">
        <h1>Otsi</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.user_id.label }} {{ form.user_id() }}<br>
            {{ form.search_text.label }} {{ form.search_text() }}<br>
            {{ form.submit() }}
        </form>
        {% if all_collectibles %}
        <h2>Otsingu tulemus</h2>
        {% include 'table.html' %}
        {% include 'footer.html' %}
        {% endif %}
    </div>
</body>

</html>