<!DOCTYPE html>
<html>

<head>
    <title>Lisa uus ese</title>
    <!-- Add this line to include Bootstrap from a CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="container mt-3">
        <h1>Lisa uus ese</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {% if not form.collection_id.choices %}
            <a href="{{ url_for('collection') }}">Kõigepealt lisa kollektsioon!</a>
            {% else %}
                {{ form.collection_id.label }} {{ form.collection_id() }}<br>
                {{ form.name.label }} {{ form.name() }}<br>
                {{ form.team.label }} {{ form.team() }}<br>
                {{ form.description.label }} {{ form.description() }}<br>
                {{ form.place_aquired.label }} {{ form.place_aquired() }}<br>
                {{ form.cost.label }} {{ form.cost() }}<br>
                {{ form.date_aquired.label }} {{ form.date_aquired() }}<br>
                {{ form.picture.label }} {{ form.picture() }}<br>
                {{ form.submit() }}
            {% endif %}
        </form>
    </div>
</body>

</html>